body {
    text-align: center;
}

.win {
    display: none;
    margin: auto;
    width: 150px;
    height: auto;
}

.upDown {
    color: brown;
    font-size: 40px;
    font-weight: 700;
}

.instructions {
    margin-left: 100px;
    width: 15%;
}

.container {
    width: 50%;
    margin: auto
}
